<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Weather</title>
</head>

<body>
        <th:block layout:fragment="body" th:remove="tag">
            <p class = "temp" th:text="'Temperature: ' + ${temp}+'°'"></p>
        </th:block>
</body>
<style>

    .temp{
        font-size: 50px;
        text-align: center;
        margin-top: 100px;
    }

    body{
        text-align: center;
    }

</style>
</html>
